<footer class="footer section footer__section">
  <div class="page-footer container">
    <div class="page-footer__wrapper">
      <div class="page-footer__inner">
        <a href="./index.html" class="logo page-footer__logo"
          ><span class="logo logo--accent">Web</span>Studio</a
        >
        <address class="address">
          <ul class="address__list">
            <li class="address__item">
              <a
                class="address__descr"
                href="https://goo.gl/maps/k6muJn8YtoqKnS7S7"
                target="_blank"
                rel="noreferrer noopener nofollow"
                >м. Київ, пр-т Лесі Українки, 26</a
              >
            </li>
            <li class="address__item">
              <a href="mailto:info@devstudio.com" class="address__link">info@devstudio.com</a>
            </li>
            <li class="address__item">
              <a href="tel:+380961111111" class="address__link">+38 096 111 11 11</a>
            </li>
          </ul>
        </address>
      </div>
      <!-- Соцмережі -->
      <div class="socials page-footer__socials">
        <p class="socials__label">Приєднуйтесь</p>
        <ul class="socials__list">
          <li class="socials__item">
            <a href="#" class="socials__link socials__link--footer" aria-label="Instagram">
              <svg class="socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link socials__link--footer" aria-label="Facebook">
              <svg class="socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link socials__link--footer" aria-label="Twitter">
              <svg class="socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link socials__link--footer" aria-label="Linkedin">
              <svg class="socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Підписка на розсилку -->
    <form class="mailing mailing--end">
      <div role="group" aria-labelledby="mailing-block" class="mailing__block">
        <h2 id="mailing-block" class="mailing__text">Підпишіться на розсилку</h2>
        <div class="mailing__group">
          <input
            class="mailing__input"
            type="email"
            name="email"
            id="mailing-email"
            placeholder="E-mail"
          />
          <button type="submit" class="button mailing__button">
            Підписатися
            <svg class="mailing__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-paperplane"></use>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</footer>
