<section class="portfolio section">
    <div class="container">
      <!-- Прихований заголовок -->
      <h1 class="portfolio__title">Портфоліо</h1>
      <ul class="filter">
        <li class="filter__item">
          <button type="button" class="button filter__button">Усі</button>
        </li>
        <li class="filter__item">
          <button type="button" class="button filter__button">Веб-сайти</button>
        </li>
        <li class="filter__item">
          <button type="button" class="button filter__button">Додатки</button>
        </li>
        <li class="filter__item">
          <button type="button" class="button filter__button">Дизайн</button>
        </li>
        <li class="filter__item">
          <button type="button" class="button filter__button">Маркетинг</button>
        </li>
      </ul>
      <!--  Приклади робот -->
      <ul class="projects">
        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-technocrack.webp    1x,
                    ./images/mobile-technocrack@2x.webp 2x,
                    ./images/mobile-technocrack@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-technocrack.jpg    1x,
                    ./images/mobile-technocrack@2x.jpg 2x,
                    ./images/mobile-technocrack@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-technocrack.webp    1x,
                    ./images/desktop-technocrack@2x.webp 2x,
                    ./images/desktop-technocrack@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-technocrack.jpg    1x,
                    ./images/desktop-technocrack@2x.jpg 2x,
                    ./images/desktop-technocrack@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-technocrack.webp    1x,
                    ./images/tablet-technocrack@2x.webp 2x,
                    ./images/tablet-technocrack@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-technocrack.jpg    1x,
                    ./images/tablet-technocrack@2x.jpg 2x,
                    ./images/tablet-technocrack@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-technocrack.jpg"
                  alt="Приклад виконаного веб-сайту"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Технокряк</h2>
              <p class="project__subtitle">Веб-сайт</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-poster.webp    1x,
                    ./images/mobile-poster@2x.webp 2x,
                    ./images/mobile-poster@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-poster.jpg    1x,
                    ./images/mobile-poster@2x.jpg 2x,
                    ./images/mobile-poster@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-poster.webp    1x,
                    ./images/desktop-poster@2x.webp 2x,
                    ./images/desktop-poster@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-poster.jpg    1x,
                    ./images/desktop-poster@2x.jpg 2x,
                    ./images/desktop-poster@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-poster.webp    1x,
                    ./images/tablet-poster@2x.webp 2x,
                    ./images/tablet-poster@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-poster.jpg    1x,
                    ./images/tablet-poster@2x.jpg 2x,
                    ./images/tablet-poster@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-poster.jpg"
                  alt="Приклад дизайну постера"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Постер New Orlean vs Golden Star</h2>
              <p class="project__subtitle">Дизайн</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-seafood.webp    1x,
                    ./images/mobile-seafood@2x.webp 2x,
                    ./images/mobile-seafood@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-seafood.jpg    1x,
                    ./images/mobile-seafood@2x.jpg 2x,
                    ./images/mobile-seafood@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-seafood.webp    1x,
                    ./images/desktop-seafood@2x.webp 2x,
                    ./images/desktop-seafood@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-seafood.jpg    1x,
                    ./images/desktop-seafood@2x.jpg 2x,
                    ./images/desktop-seafood@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-seafood.webp    1x,
                    ./images/tablet-seafood@2x.webp 2x,
                    ./images/tablet-seafood@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-seafood.jpg    1x,
                    ./images/tablet-seafood@2x.jpg 2x,
                    ./images/tablet-seafood@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-seafood.jpg"
                  alt="Приклад виконаного додатку"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Ресторан Seafood</h2>
              <p class="project__subtitle">Додаток</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-prime.webp    1x,
                    ./images/mobile-prime@2x.webp 2x,
                    ./images/mobile-prime@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-prime.jpg    1x,
                    ./images/mobile-prime@2x.jpg 2x,
                    ./images/mobile-prime@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-prime.webp    1x,
                    ./images/desktop-prime@2x.webp 2x,
                    ./images/desktop-prime@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-prime.jpg    1x,
                    ./images/desktop-prime@2x.jpg 2x,
                    ./images/desktop-prime@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-prime.webp    1x,
                    ./images/tablet-prime@2x.webp 2x,
                    ./images/tablet-prime@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-prime.jpg    1x,
                    ./images/tablet-prime@2x.jpg 2x,
                    ./images/tablet-prime@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-prime.jpg"
                  alt="Приклад виконаного проєкту"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Проєкт Prime</h2>
              <p class="project__subtitle">Маркетинг</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-boxes.webp    1x,
                    ./images/mobile-boxes@2x.webp 2x,
                    ./images/mobile-boxes@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-boxes.jpg    1x,
                    ./images/mobile-boxes@2x.jpg 2x,
                    ./images/mobile-boxes@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-boxes.webp    1x,
                    ./images/desktop-boxes@2x.webp 2x,
                    ./images/desktop-boxes@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-boxes.jpg    1x,
                    ./images/desktop-boxes@2x.jpg 2x,
                    ./images/desktop-boxes@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-boxes.webp    1x,
                    ./images/tablet-boxes@2x.webp 2x,
                    ./images/tablet-boxes@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-boxes.jpg    1x,
                    ./images/tablet-boxes@2x.jpg 2x,
                    ./images/tablet-boxes@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-boxes.jpg"
                  alt="Приклад виконаного проєкту"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Проєкт Boxes</h2>
              <p class="project__subtitle">Додаток</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-no-borders.webp    1x,
                    ./images/mobile-no-borders@2x.webp 2x,
                    ./images/mobile-no-borders@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-no-borders.jpg    1x,
                    ./images/mobile-no-borders@2x.jpg 2x,
                    ./images/mobile-no-borders@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-no-borders.webp    1x,
                    ./images/desktop-no-borders@2x.webp 2x,
                    ./images/desktop-no-borders@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-no-borders.jpg    1x,
                    ./images/desktop-no-borders@2x.jpg 2x,
                    ./images/desktop-no-borders@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-no-borders.webp    1x,
                    ./images/tablet-no-borders@2x.webp 2x,
                    ./images/tablet-no-borders@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-no-borders.jpg    1x,
                    ./images/tablet-no-borders@2x.jpg 2x,
                    ./images/tablet-no-borders@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-no-borders.jpg"
                  alt="Приклад виконаного веб-сайту"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Inspiration has no Borders</h2>
              <p class="project__subtitle">Веб-сайт</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-limited-edition.webp    1x,
                    ./images/mobile-limited-edition@2x.webp 2x,
                    ./images/mobile-limited-edition@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-limited-edition.jpg    1x,
                    ./images/mobile-limited-edition@2x.jpg 2x,
                    ./images/mobile-limited-edition@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-limited-edition.webp    1x,
                    ./images/desktop-limited-edition@2x.webp 2x,
                    ./images/desktop-limited-edition@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-limited-edition.jpg    1x,
                    ./images/desktop-limited-edition@2x.jpg 2x,
                    ./images/desktop-limited-edition@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-limited-edition.webp    1x,
                    ./images/tablet-limited-edition@2x.webp 2x,
                    ./images/tablet-limited-edition@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-limited-edition.jpg    1x,
                    ./images/tablet-limited-edition@2x.jpg 2x,
                    ./images/tablet-limited-edition@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-limited-edition.jpg"
                  alt="Приклад дизайну видання"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Видання Limited Edition</h2>
              <p class="project__subtitle">Дизайн</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-lab.webp    1x,
                    ./images/mobile-lab@2x.webp 2x,
                    ./images/mobile-lab@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-lab.jpg    1x,
                    ./images/mobile-lab@2x.jpg 2x,
                    ./images/mobile-lab@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-lab.webp    1x,
                    ./images/desktop-lab@2x.webp 2x,
                    ./images/desktop-lab@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-lab.jpg    1x,
                    ./images/desktop-lab@2x.jpg 2x,
                    ./images/desktop-lab@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-lab.webp    1x,
                    ./images/tablet-lab@2x.webp 2x,
                    ./images/tablet-lab@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-lab.jpg    1x,
                    ./images/tablet-lab@2x.jpg 2x,
                    ./images/tablet-lab@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-lab.jpg"
                  alt="Приклад виконаного проєкту"
                  width="370"
                  height="294"
                />
              </picture>
              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Проєкт LAB</h2>
              <p class="project__subtitle">Маркетинг</p>
            </div>
          </a>
        </li>

        <li class="projects__item">
          <a class="project" href="#">
            <div class="project__thumb">
              <picture>
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-growing-business.webp    1x,
                    ./images/mobile-growing-business@2x.webp 2x,
                    ./images/mobile-growing-business@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/mobile-growing-business.jpg    1x,
                    ./images/mobile-growing-business@2x.jpg 2x,
                    ./images/mobile-growing-business@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-growing-business.webp    1x,
                    ./images/desktop-growing-business@2x.webp 2x,
                    ./images/desktop-growing-business@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/desktop-growing-business.jpg    1x,
                    ./images/desktop-growing-business@2x.jpg 2x,
                    ./images/desktop-growing-business@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-growing-business.webp    1x,
                    ./images/tablet-growing-business@2x.webp 2x,
                    ./images/tablet-growing-business@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/tablet-growing-business.jpg    1x,
                    ./images/tablet-growing-business@2x.jpg 2x,
                    ./images/tablet-growing-business@3x.jpg 3x
                  "
                  type="image/jpg"
                />
                <img
                  class="project__image"
                  src="./images/tablet-growing-business.jpg"
                  alt="Приклад виконаного додатку"
                  width="370"
                  height="294"
                />
              </picture>

              <div class="project__overlay">
                <p class="project__text">
                  Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                  Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                  приватну особу.
                </p>
              </div>
            </div>
            <div class="project__meta">
              <h2 class="project__title">Growing Business</h2>
              <p class="project__subtitle">Додаток</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>