.features {
  background-color: $color-bg-main;
}

.features__heading {
  @extend %visually-hidden;
}

.features__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
  //   // margin-right: 30px;

  //   // &:nth-child(4n) {
  //   //   margin-right: 0;
  //   // }
}

.features__thumb {
  @include centeredFlex();

  margin-bottom: 30px;

  height: 120px;
  border-radius: 4px;

  background-color: $color-bg-secondary;
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
