.site-nav {
  display: block;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav__list {
  @include centeredFlex();
  @extend %list;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  @extend %link;

  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: $color-text-primary;
}

.site-nav__link--current {
  color: $color-accent;

  &::after {
    position: absolute;
    left: -5%;
    bottom: -1px;
    overflow: visible;

    display: block;
    content: ' ';
    width: 110%;
    height: 4px;
    border-radius: 2px;

    background-color: $color-accent;

    animation: scale 250ms ease 1;
  }
}

@keyframes scale {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}
