<section class="examples section">
    <div class="container">
      <h2 class="examples__title">Чим ми займаємося</h2>
      <ul class="examples__list">
        <li class="examples__item">
          <div class="examples__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop-apps.webp    1x,
                  ./images/desktop-apps@2x.webp 2x,
                  ./images/desktop-apps@3x.webp 3x
                "
                type="image/webp"
              />
              <img
                class="examples__img"
                srcset="
                  ./images/desktop-apps.jpg    1x,
                  ./images/desktop-apps@2x.jpg 2x,
                  ./images/desktop-apps@3x.jpg 3x
                "
                src="./images/desktop-apps.jpg"
                width="370"
                height="294"
                alt="Людина програмує"
              />
            </picture>
            <h3 class="examples__descr">Десктопні додатки</h3>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__thumb">
            <picture>
              <source
                srcset="
                  ./images/mobile-apps.webp    1x,
                  ./images/mobile-apps@2x.webp 2x,
                  ./images/mobile-apps@3x.webp 3x
                "
                type="image/webp"
              />
              <img
                class="examples__img"
                srcset="
                  ./images/mobile-apps.jpg    1x,
                  ./images/mobile-apps@2x.jpg 2x,
                  ./images/mobile-apps@3x.jpg 3x
                "
                src="./images/mobile-apps.jpg"
                width="370"
                height="294"
                alt="Людина обирає дизайн"
              />
            </picture>
            <h3 class="examples__descr">Мобільні додатки</h3>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__thumb">
            <picture>
              <source
                srcset="
                  ./images/design.webp    1x,
                  ./images/design@2x.webp 2x,
                  ./images/design@3x.webp 3x
                "
                type="image/webp"
              />
              <img
                class="examples__img"
                srcset="
                  ./images/design.jpg    1x,
                  ./images/design@2x.jpg 2x,
                  ./images/design@3x.jpg 3x
                "
                src="./images/design.jpg"
                width="370"
                height="294"
                alt="Людина обирає колір"
              />
            </picture>
            <h3 class="examples__descr">Дизайнерські рішення</h3>
          </div>
        </li>
      </ul>
    </div>
  </section>