<section class="team section">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <ul class="team__list">
      <li class="team__card" data-aos="fade-right" data-aos-duration="1500">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-demyanenko.webp    1x,
              ./images/mobile-demyanenko@2x.webp 2x,
              ./images/mobile-demyanenko@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-demyanenko.jpg    1x,
              ./images/mobile-demyanenko@2x.jpg 2x,
              ./images/mobile-demyanenko@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-demyanenko.webp    1x,
              ./images/desktop-demyanenko@2x.webp 2x,
              ./images/desktop-demyanenko@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-demyanenko.jpg    1x,
              ./images/desktop-demyanenko@2x.jpg 2x,
              ./images/desktop-demyanenko@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-demyanenko.webp    1x,
              ./images/tablet-demyanenko@2x.webp 2x,
              ./images/tablet-demyanenko@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-demyanenko.jpg    1x,
              ./images/tablet-demyanenko@2x.jpg 2x,
              ./images/tablet-demyanenko@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./images/tablet-demyanenko.jpg"
            class="team__photo"
            alt="Усміхнений хлопець в окулярах"
          />
        </picture>
        <h3 class="team__member">Ігор Дем'яненко</h3>
        <p class="team__pos">Product Designer</p>
        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Instagram">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Facebook">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Twitter">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Linkedin">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card" data-aos="fade-left" data-aos-duration="1500">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-repina.webp    1x,
              ./images/mobile-repina@2x.webp 2x,
              ./images/mobile-repina@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-repina.jpg    1x,
              ./images/mobile-repina@2x.jpg 2x,
              ./images/mobile-repina@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-repina.webp    1x,
              ./images/desktop-repina@2x.webp 2x,
              ./images/desktop-repina@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-repina.jpg    1x,
              ./images/desktop-repina@2x.jpg 2x,
              ./images/desktop-repina@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-repina.webp    1x,
              ./images/tablet-repina@2x.webp 2x,
              ./images/tablet-repina@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-repina.jpg    1x,
              ./images/tablet-repina@2x.jpg 2x,
              ./images/tablet-repina@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./images/tablet-repina.jpg"
            class="team__photo"
            width="270"
            height="260"
            alt="Усміхнена дівчина в окулярах"
          />
        </picture>
        <h3 class="team__member">Ольга Рєпіна</h3>
        <p class="team__pos">Frontend Developer</p>
        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Instagram">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Facebook">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Twitter">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Linkedin">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card" data-aos="fade-right" data-aos-duration="1500">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-tarasov.webp    1x,
              ./images/mobile-tarasov@2x.webp 2x,
              ./images/mobile-tarasov@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-tarasov.jpg    1x,
              ./images/mobile-tarasov@2x.jpg 2x,
              ./images/mobile-tarasov@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-tarasov.webp    1x,
              ./images/desktop-tarasov@2x.webp 2x,
              ./images/desktop-tarasov@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-tarasov.jpg    1x,
              ./images/desktop-tarasov@2x.jpg 2x,
              ./images/desktop-tarasov@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-tarasov.webp    1x,
              ./images/tablet-tarasov@2x.webp 2x,
              ./images/tablet-tarasov@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-tarasov.jpg    1x,
              ./images/tablet-tarasov@2x.jpg 2x,
              ./images/tablet-tarasov@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./images/tablet-tarasov.jpg"
            class="team__photo"
            width="270"
            height="260"
            alt="Усміхнений хлопець в рубашці"
          />
        </picture>
        <h3 class="team__member">Микола Тарасов</h3>
        <p class="team__pos">Marketing</p>
        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item list">
              <a href="#" class="socials__link link" aria-label="Instagram">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item list">
              <a href="#" class="socials__link link" aria-label="Facebook">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item list">
              <a href="#" class="socials__link link" aria-label="Twitter">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item list">
              <a href="#" class="socials__link link" aria-label="Linkedin">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card" data-aos="fade-left" data-aos-duration="1500">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-ermakov.webp    1x,
              ./images/mobile-ermakov@2x.webp 2x,
              ./images/mobile-ermakov@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile-ermakov.jpg    1x,
              ./images/mobile-ermakov@2x.jpg 2x,
              ./images/mobile-ermakov@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-ermakov.webp    1x,
              ./images/desktop-ermakov@2x.webp 2x,
              ./images/desktop-ermakov@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-ermakov.jpg    1x,
              ./images/desktop-ermakov@2x.jpg 2x,
              ./images/desktop-ermakov@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-ermakov.webp    1x,
              ./images/tablet-ermakov@2x.webp 2x,
              ./images/tablet-ermakov@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-ermakov.jpg    1x,
              ./images/tablet-ermakov@2x.jpg 2x,
              ./images/tablet-ermakov@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./images/tablet-ermakov.jpg"
            class="team__photo"
            width="270"
            height="260"
            alt="Хлопець в окулярах"
          />
        </picture>

        <h3 class="team__member">Михайло Єрмаков</h3>
        <p class="team__pos">UI Designer</p>
        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Instagram">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Facebook">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Twitter">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link link" aria-label="Linkedin">
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
